.footer {
  @include desktop-width {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 64px;
    row-gap: 17px;
    padding: 40px;
  }
}

.footer__logo-link {
  @include desktop-width {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
}

.footer__logo-description {
  color: $black;

  @include desktop-width {
    width: max-content;

    font-size: 14px;
    line-height: 20px;
  }
}

.footer__links {
  display: flex;
  gap: 37px;
  align-items: center;
  padding: 18px 20px;

  border-bottom: 1px solid $secondary;

  @include tablet-width {
    padding-top: 39px;
    padding-bottom: 9px;
    justify-content: space-between;

    border: none;
  }

  @include desktop-width {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    justify-content: unset;
    gap: 50px;
  }
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-link {
  display: block;
  padding: 10px;

  border-radius: 4px;
  background-color: transparent;

  transition: background-color 0.2s;

  &:focus {
    background-color: $secondary;

    .footer__social-icon {
      fill: $primary;
    }
  }

  &:active {
    background-color: $primary-opacity;

    .footer__social-icon {
      fill: $primary;
    }
  }
}

@include hover-device {
  .footer__social-link:hover {
    background-color: $secondary;

    & > .footer__social-icon {
      fill: $primary;
    }
  }
}

.footer__group-container {
  @include tablet-width {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop-width {
    margin-top: 8px;
    gap: 22px;
  }
}

.footer__copyright {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 4px;

  @include tablet-width {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  @include desktop-width {
    grid-column: 1/-1;
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    .footer__copyright-text {
      color: $primary;
    }

    .footer__copyright-icon {
      fill: $primary;
    }
  }

  &:active {
    .footer__copyright-text {
      color: $primary-darker;
    }

    .footer__copyright-icon {
      fill: $primary-darker;
    }
  }
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 16px;
  color: $grey;

  transition: 0.2s;
}

.footer__social-icon,
.footer__copyright-icon {
  display: block;

  fill: $grey;

  transition: fill 0.2s;
}
