.nav-list {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include desktop-width {
    gap: 20px;
  }

  &--site {
    position: absolute;
    z-index: 4;

    flex-direction: column;
    width: 100%;
    left: 0;

    background-color: $white;

    .nav-list__item {
      box-sizing: border-box;
      width: 100%;
      // padding: 20px;

      text-align: center;

      border-bottom: 1px solid $secondary;

      &--main {
        border-top: 1px solid $secondary;
      }
    }

    @include tablet-width {
      position: static;

      display: flex;
      flex-direction: row;
      width: auto;
      background-color: transparent;
      transform: none;

      .nav-list__item {
        width: auto;

        border: none;
      }
    }
  }

  &--user {
    .nav-list__link {
      padding: 22px;
    }
  }
}

.nav-list__text {
  display: none;

  @include desktop-width {
    display: block;
  }
}

.nav-list__link {
  display: block;
  padding: 20px;

  color: $black;

  background-color: transparent;

  transition: all 0.1s;

  @include tablet-width {
    padding: 32px 20px;
  }

  &:active {
    background-color: $secondary;

    @include tablet-width {
      color: $primary;
    }
  }

  &--current {
    @include tablet-width {
      position: relative;

      color: $primary;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $primary;

        content: "";
      }
    }
  }

  &--user {
    padding: 22px;

    @include tablet-width {
      padding: 32px 22px;
    }

    @include desktop-width {
      display: flex;
      gap: 5px;

      &:hover {
        .nav-list__icon {
          fill: $primary;
        }
      }
    }
  }

  @include hover-device {
    &:hover {
      color: $primary;
    }
  }

  &:focus {
    color: $primary;

    .nav-list__icon {
      fill: $primary;
    }
  }
}

.nav-list__icon {
  display: block;

  fill: $black;

  transition: fill 0.1s;
}
