.nav-list {
  @include tablet-width {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  @include desktop-width {
    gap: 20px;
  }

  &--site {
    display: none;

    @include tablet-width {
      display: flex;
    }
  }

  &--user {
    .nav-list__link {
      padding: 22px;
    }
  }
}

.nav-list__text {
  display: none;

  @include desktop-width {
    display: block;
  }
}

.nav-list__link {
  color: $black;

  @include tablet-width  {
    padding: 32px 20px;
  }

  &:active {
    background-color: $secondary;
  }

  &--current {
    position: relative;

    color: $primary;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $primary;

      content: "";
    }
  }

  &--user {
    @include desktop-width {
      display: flex;
      gap: 5px;
    }
  }
}
