.nav-list {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include desktop-width {
    gap: 20px;
  }

  &--site {
    position: absolute;
    z-index: 4;

    flex-direction: column;
    width: 100%;
    left: 0;

    background-color: $white;

    .nav-list__item {
      box-sizing: border-box;
      width: 100%;
      padding: 20px;

      text-align: center;

      border-bottom: 1px solid $secondary;

      &--main {
        border-top: 1px solid $secondary;
      }
    }

    @include tablet-width {
      position: static;

      display: flex;
      flex-direction: row;
      width: auto;
      background-color: transparent;
      transform: none;

      .nav-list__item {
        width: auto;
        padding: 0;

        border: none;
      }
    }
  }

  &--user {
    .nav-list__link {
      padding: 22px;
    }
  }
}

.nav-list__text {
  display: none;

  @include desktop-width {
    display: block;
  }
}

.nav-list__link {
  color: $black;

  @include tablet-width {
    padding: 32px 20px;
  }

  &:active {
    background-color: $secondary;
  }

  &--current {
    @include tablet-width {
      position: relative;

      color: $primary;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $primary;

        content: "";
      }
    }
  }

  &--user {
    @include desktop-width {
      display: flex;
      gap: 5px;
    }
  }
}
