.page-header,
.page-header__nav,
.page-header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header {
  justify-content: space-between;

  @include tablet-width {
    margin: 0 auto;
    gap: 66px;
  }

  @include desktop-width {
    gap: 162px;
  }
}

.page-header__nav {
  @include tablet-width {
    gap: 60px;
  }

  @include desktop-width {
    gap: 162px;
  }
}


.page-header__logo-container {
  margin-left: 20px;

  @include tablet-width {
    margin: 0;
  }
}

.page-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__nav-toggle {
  padding: 22px;
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  display: flex;

  flex-direction: column;
  justify-content: start;
  gap: 4px;

  background-color: transparent;
  border: none;

  @include tablet-width {
    display: none;
  }

  &:active {
    background-color: $secondary;
  }
}

.page-header__toggle-line {
  display: block;
  width: 16px;
  height: 0.13em;

  background-color: $black;

  &--start {
    margin-top: 2px;
  }
}
