/* здесь используйте глобальные селекторы img, body, html и так далее*/

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}
